* {
    margin: 0;
    padding: 0;
}

/* Landing Page */
#nav {
    position: fixed;
    top: 0vh;
    left: 0vw;
    width: 100vw;
    height: 9.6vh;
    background-color: #2e364a;
    border-bottom: 3vh solid black;
}

#hirebtn1 {
    position: absolute;
    top: 2.5vh;
    left: 83vw;
    width: 8vw;
    height: 5.1vh;
    border: 3px solid black;
    border-radius: 10px;
    background-color: #2e364a;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 18px;
}

#hirebtn1:hover {
    color: black;

    transform: translateY(-5px);
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

#nav ul {
    position: relative;
    display: flex;
    top: 2.9vh;
    left: 22vw;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
}

#nav li {
    margin-left: 3vw;
    margin-right: 3vw;
    list-style-type: none;
    text-align: center;
    border-radius: 10px;
    padding: 7px;
}

#nav li:hover {
    border: 3px solid black;
}

#nav a {
    color: white;
    text-decoration: none;
}

#nav a:visited {
    color: white;
    text-decoration: none;
}

#nav h2 {
    position: absolute;
    top: 2.6vh;
    left: 5vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-size: 35px;
    color: aliceblue;
}

#landimage {
    position: absolute;
    top: 10vh;
    left: 0;
    width: 100vw;
    height: 90vh;
    /* background-image: ;
    background-repeat: no-repeat; */
    background-color: antiquewhite;
}

#landimage #landheader {
    position: relative;
    margin-top: 24vh;
    margin-left: 13vw;
    width: 22vw;
    height: 40vh;
}

#landimage #landheader h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 900;
    font-size: 60px;
}

#landimage #landheader pre {
    position: relative;
    margin-top: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 30px;
}

#landimage #landheader button {
    position: relative;
    margin-top: 6vh;
    margin-left: 1.6vw;
    width: 10vw;
    height: 6vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 900;
    font-size: 20px;
    background-color: #2e364a;
    color: white;
    border-radius: 20px;
    border: 3px solid black;
}

#hirebtn2:hover {
    background-color: white;
    color: black;

    transform: translateY(-5px);
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
}
/* Landing Page End */

/* Service Page */
#services {
    position: absolute;
    top: 100vh;
    width: 100vw;
    height: 100vh;
    background-color: black;
}

#servicepageheader {
    position: relative;
    margin-top: 8vh;
    margin-left: 34vw;
}
#servicepageheader h1 {
    position: relative;
    margin-top: 1vh;
    margin-left: 3.3vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 900;
    font-size: 50px;
    color: red;
}
#servicepageheader p {
    position: relative;
    margin-top: 2vh;
    margin-left: -5.4vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 30px;
}

#serviceinfo {
    position: relative;
    margin-top: 3.6vh;
    margin-left: 8vw;
    width: 83.4vw;
    height: 65vh;
    border-radius: 20px;

    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 90px;
}

#serviceinfo div {
    border: 2px solid white;
    position: relative;
    margin-top: 80px;
    margin-bottom: 80px;
    background-color: #2e364a;
    border-radius: 10px;
}

#serviceinfo #cwd {
    margin-left: 70px;
}
#serviceinfo #cms {
    margin-right: 70px;
}

#serviceinfo pre {
    position: relative;
    color: white;
    margin-left: 2vw;
    margin-top: 2vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 900;
    font-size: 30px;
}
#serviceinfo p {
    position: relative;
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 22px;
    color: rgb(155, 155, 155);
}
/* Service Page End */

/* About Me */
#aboutme {
    position: absolute;
    top: 200vh;
    width: 100vw;
    height: 100vh;
    background-color: rgb(20, 20, 20);
}
#skills {
    position: relative;
    margin-top: 13vh;
    margin-left: 9vw;
    width: 85vw;
    height: 75vh;
}
#skills div {
    background-color: #2e364a;
    border: 3px solid black;
    border-radius: 5px;
}
#skills h1 {
    position: relative;
    margin-top: 1vh;
    margin-left: 3vw;
    color: rgb(215, 215, 101);
}
#education {
    position: relative;
    margin-top: 3vh;
    margin-left: 2vw;
    width: 25vw;
    height: 60vh;
}
#education h2 {
    color: rgb(201, 201, 94);
    position: relative;
    margin-top: 1vh;
    margin-left: 8vw;
}
#education h3 {
    color: rgb(182, 182, 87);
    position: relative;
    margin-left: 2vw;
}
#education p {
    color: yellow;
    position: relative;
    padding-top: 3px;
    padding-left: 19px;
}
#workedon {
    position: relative;
    margin-top: -60.7vh;
    margin-left: 60vh;
    width: 25vw;
    height: 60vh;
}
#workedon h2 {
    color: rgb(201, 201, 94);
    position: relative;
    margin-top: 1vh;
    margin-left: 8vw;
}
#workedon h3 {
    color: rgb(182, 182, 87);
    position: relative;
    margin-left: 2vw;
}
#workedon p {
    color: yellow;
    position: relative;
    padding-top: 3px;
    padding-left: 19px;
}
#hobbies {
    position: relative;
    margin-top: -60.7vh;
    margin-left: 60vw;
    width: 25vw;
    height: 60vh;
}
#hobbies h2 {
    color: rgb(201, 201, 94);
    position: relative;
    margin-top: 1vh;
    margin-left: 8vw;
}
#hobbies h3 {
    color: rgb(182, 182, 87);
    position: relative;
    margin-left: 2vw;
}
#hobbies p {
    color: yellow;
    position: relative;
    padding-top: 3px;
    padding-left: 19px;
}

/* About me End */

/* Contact Page */
#contact {
    position: absolute;
    top: 300vh;
    left: 0;
    width: 100vw;
    height: 80vh;
    background-color: #2e364a;
    color: white;
}
#contactme {
    position: relative;
    margin-top: 12vh;
    margin-left: 13vw;
    width: 22vw;
    height: 26vw;
    background-color: black;
    border-radius: 10px;
    border: 2px solid yellow;
}
#contactme h2 {
    position: relative;
    padding-top: 2vh;
    margin-left: 5.4vw;
    width: 13vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: rgb(180, 180, 84);
}
#phone {
    position: relative;
    margin-top: 6vh;
    margin-left: 7vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-size: 22px;
    color: rgb(209, 209, 93);
}
#email {
    position: relative;
    margin-top: 6vh;
    margin-left: 7vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 22px;
    color: rgb(206, 206, 50);
}
#emailphoto {
    position: absolute;
    margin-top: 5vh;
    margin-left: 7vh;
    width: 58px;
    height: 50px;
    border-radius: 10px;
}
#socialm {
    position: relative;
    margin-top: 8vh;
    margin-left: 5vw;
    width: 15vw;
    height: 6vh;
    background-color: black;
    border-radius: 5px;
}
#socialm img {
    width: 2.5vw;
    height: 5vh;
    margin-left: 15px;
    margin-top: 3px;
    margin-left: 13px;
    border-radius: 10px;
}

#commentsection {
    position: relative;
    margin-top: -51.5vh;
    margin-left: 50vw;
    width: 24vw;
    height: 51.5vh;
    background-color: black;
    border-radius: 10px;
    border: 2px solid yellow;
}
#commentsection h2 {
    position: relative;
    padding-top: 2vh;
    padding-left: 6vw;
    padding-bottom: 2vh;
    color: rgb(207, 207, 141);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 30px;
}
#commentsection #username {
    position: relative;
    margin-top: 2vh;
    margin-left: 2vw;
    width: 18vw;
    height: 5vh;
    padding-left: 1vw;
    border-radius: 10px;
    border: 3px solid black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 19px;
    color: white;
    background-color: rgb(63, 63, 63);
}
#commentsection #emailid {
    position: relative;
    margin-top: 2vh;
    margin-left: 2vw;
    width: 18vw;
    height: 5vh;
    padding-left: 1vw;
    border-radius: 10px;
    border: 3px solid black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 19px;
    color: white;
    background-color: rgb(63, 63, 63);
}
#commentsection #comment {
    position: relative;
    margin-top: 2vh;
    margin-left: 2vw;
    width: 18vw;
    height: 16vh;
    padding-top: 2vh;
    padding-left: 1vw;
    border-radius: 10px;
    border: 3px solid black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 19px;
    color: white;
    background-color: rgb(63, 63, 63);
}
#submit {
    position: relative;
    margin-top: 2vh;
    margin-left: 7vw;
    width: 9vw;
    height: 4vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 19px;
    border: 3px solid black;
    color: red;
    background-color: rgb(63, 63, 63);
    border-radius: 10px;
}

/* Contact Page End */